body {
    font-family:  'Lato', sans-serif;
    margin: 0;
    color: white;
    background-color: black;
    font-size: 18px;
    a {
        text-decoration: none;
        color: rgba(255,255,255,.5);
    }
    p {
        margin: 0 0 8px;

    }
    ul {
        list-style: none;
    
    }
    
    h2{
        font-weight: 700;
        font-size: 40px;
        margin: 48px;
        
    }
    h3 {
        font-style: italic;
        font-weight: 400;
        font-size: 28px;
        margin: 0 0 8px;

    }
    h4 {
        font-size: 18px;
        margin: 0 0 8px;
        font-weight: bold;
    }
}


.contenedor {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.backgroundblanco{
    background-color: white;
    color: black;
}
.flex {
    display: flex;
}

.columna {
    flex-direction: column;
}

.italica {
    font-style: italic;
}
.justificado {
     justify-content: space-between;
}

.centro {
   align-items: center;
}

.button {
    width: 100px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    margin: 30px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 18px;
    font-weight: 700;
}

.nav {

    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    position: relative;
    }
  
    .menu {
        transition: ease all 0.3s;
        display: none;
        position: absolute;
        width: 100%;
        top: 50px;
        left:0;
        background-color: black;
    
    }
    h1{
        color: white;
        font-weight: 700;
        font-size: 1.8rem;
        margin:0 ;
    }

    label {
     color: rgba(255,255,255,.5);
    }

    #check {
        display:none; 
        &:checked  +.menu{
            display: flex;
            flex-direction: column;
        }
    }
.submenu{
    display: none;
}

#check2 {
    display: none;
    &:checked + .submenu{
        display:block;
    }
}

.seccion1 {
    background-image: url(../img/hero-background.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    .title {
        text-align: center;
     
    }
}

.seccion2 {
    
    width: 100%;
    justify-content: center;

}

.card {
    width: 260px;
    height: 400px;
    color: black;
    border-radius: 5px;
    overflow: hidden;
    font-size: 20px;
    margin: 15px;
    img {
       max-width:100%;
       height: auto;
    }
    .info,  .estrellas {
        padding: 5px;
        margin:0 ;
    }
}

.items {
    h2 {
        font-size: 38px;
        padding: 16px;
    }
}
.item{
    width: 260px;
    background-size: cover;
    background-position: center;
    font-size: 22px;
    font-weight: 400;
    margin: 16px;
    text-align: center;
}

#shoes {
    background-image: url(../img/shoes.jpg);  
    height: 260px;
}

#jeans {
    background-image: url(../img/jeans.jpeg);
    height: 360px;
}

#shirts {
    background-image: url(../img/shirts.jpg);
    height: 400px;
}

#outfits{
    background-image: url(../img/outfits.jpg);
    height: 500px;
}


.footer {
    background-color: #323232;
    text-align: center;
    h1 {
        margin: 48px;
        font-size: 35px;
        border-bottom: 1px solid white; 
        width: 15rem;
        padding-bottom: 15px;
    }
    h2 {
        margin: 0 0 8px;

    }
    
}