
.header {
    background-image: url(../../img/hero-background.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    color: white;
    margin: 0;  
    text-align: center;
    justify-content: center;
    padding: 35px;

    h2 {
        font-size: 27px;
        margin:0;
    }
    h3 {
        font-size: 21px;
    }
    .title {
        margin: 20px;
        
    }
}


.ocultar {
    display: none;
    @include desktop {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
    
    .view {
        height: 25%;
        width: 25%;
        padding: 15px;
        padding-top: 35px;
        padding-bottom: 35px;
        background-color : rgba(0, 0, 0, 0.5);
        margin: 25px;
        } 
        button {
            height: 65px;
        }
        h2 {
            font-size: 24px; 
        }
        h3 {
            font-size: 24px;
        }

    .textoimagen {
        text-align: center;
        padding-top: 28px;
    }
} 
