.contenedor {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.backgroundblanco {
  background-color: white;
  color: black;
}

.flex {
  display: flex;
}

.columna {
  flex-direction: column;
}

.italica {
  font-style: italic;
}

.justificado {
  justify-content: space-between;
}

.centro {
  align-items: center;
}

.centro2 {
  justify-content: center;
}

.button {
  width: 100px;
  height: 50px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin: 30px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 18px;
  font-weight: 700;
}

.nav {
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 992px) {
  .nav {
    height: 74px;
    box-sizing: border-box;
    align-items: center;
  }
}
.nav .fa-bars {
  font-size: 32px;
  font-weight: 400;
}
.nav h1 {
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0;
}
.nav label {
  color: rgba(255, 255, 255, 0.5);
}
.nav .menu {
  transition: ease all 0.3s;
  display: none;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  background-color: black;
}
.nav #check {
  display: none;
}
.nav #check:checked + .menu {
  display: flex;
  flex-direction: column;
}

.submenu {
  display: none;
}

#check2 {
  display: none;
}
#check2:checked + .submenu {
  display: block;
}

.footer {
  background-color: #323232;
  text-align: center;
}
.footer h1 {
  margin: 48px;
  font-size: 35px;
  border-bottom: 1px solid white;
  width: 15rem;
  padding-bottom: 15px;
}
.footer h2 {
  margin: 0 0 8px;
}
.footer a {
  color: #007BFF;
}

.imgcont {
  padding: 15px;
}
.imgcont img {
  height: auto;
  width: 100%;
}

.header {
  background-image: url(../../img/hero-background.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  color: white;
  margin: 0;
  text-align: center;
  justify-content: center;
  padding: 35px;
}
.header h2 {
  font-size: 27px;
  margin: 0;
}
.header h3 {
  font-size: 21px;
}
.header .title {
  margin: 20px;
}

.ocultar {
  display: none;
}
@media (min-width: 992px) {
  .ocultar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
}
.ocultar .view {
  height: 25%;
  width: 25%;
  padding: 15px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 25px;
}
.ocultar button {
  height: 65px;
}
.ocultar h2 {
  font-size: 24px;
}
.ocultar h3 {
  font-size: 24px;
}
.ocultar .textoimagen {
  text-align: center;
  padding-top: 28px;
}

.seccion2 {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.card {
  width: 260px;
  height: 400px;
  color: black;
  border-radius: 5px;
  overflow: hidden;
  font-size: 20px;
  margin: 15px;
}
@media (min-width: 992px) {
  .card {
    width: 270px;
    height: 300px;
  }
}
.card img {
  max-width: 100%;
  height: auto;
}
.card .imagencard {
  height: 370px;
  overflow: hidden;
}
.card .info, .card .estrellas {
  padding: 5px;
  margin: 0;
}

.desktopalignment {
  width: 100%;
}
@media (min-width: 992px) {
  .desktopalignment {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.seccion3 {
  width: 100%;
}

.items {
  width: 100%;
}
@media (min-width: 992px) {
  .items {
    flex-direction: row;
  }
}
.items h2 {
  font-size: 38px;
  padding: 16px;
}

.item {
  background-size: cover;
  background-position: center center;
  font-size: 22px;
  font-weight: 400;
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}

#shoes {
  background-image: url(../../img/shoes.jpg);
  height: 250px;
  width: 70vw;
  max-width: 700px;
}

#jeans {
  background-image: url(../../img/jeans.jpeg);
  height: 400px;
  width: 70vw;
  max-width: 340px;
}

#shirts {
  background-image: url(../../img/shirts.jpg);
  height: 400px;
  width: 70vw;
  max-width: 340px;
}

#outfits {
  background-image: url(../../img/outfits.jpg);
  min-height: 350px;
  height: 700px;
  max-height: 40rem;
  margin-bottom: 25px;
}

.items1 {
  flex-wrap: wrap;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: white;
  background-color: black;
  font-size: 18px;
}
body a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
body p {
  margin: 0 0 8px;
}
body ul {
  list-style: none;
}
body h2 {
  font-weight: 700;
  font-size: 40px;
  margin: 48px;
}
body h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  margin: 0 0 8px;
}
body h4 {
  font-size: 18px;
  margin: 0 0 8px;
  font-weight: bold;
}

/*# sourceMappingURL=estilos.css.map */
